.my_pic {
  border-radius: 50%;
  width: 250px;  
  height: 250px;
  object-fit: cover;
}
.container {
  width: 50vw;
  text-align: center;
  margin: auto;
}
.text::first-line {
  font-size: 150%;
}
.text {
  text-align: justify;
}
